{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/style/loginStyle.css">
{% endblock %}

{% block main %}
    <div class="login_container">
        <h2>Se connecter</h2>
        <form method="post">
            <br/>
            <div class="input_container">
                <input type="text" id="name" name="name" class="input_input" placeholder=" ">
                <label for="name" class="input_label">Nom</label>
            </div>
            <br/>
            <div class="input_container">
                <input type="password" id="password" name="password" class="input_input" placeholder=" ">
                <label for="password" class="input_label">Mot de passe</label>
            </div>
            <br/>
            <input type="hidden" name="csrf" value="{{ csrf_token('login_form') }}">
            <br/>
            <input class="buttonHover" type="submit" value="Connexion">
            <br/>

            <p class="linkLitelFont">
                Vous n'avez pas de compte ?
                <a class="litelhoverLink" href="register.html.twig">S'inscrire</a>
            </p>
        </form>
    </div>
{% endblock %}