{% extends 'base.html.twig' %}

{% block main %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Voici ta page profil {{ utilisateur.name }}</h1>
{#        <h1>Tu es {{ currentUser.name }}</h1>#}
    {% else %}
        <h1>Bienvenue sur la page vendeur de {{ utilisateur.name }}</h1>
    {% endif %}

{% endblock %}