.form_add_annonce {
    width: 1000px;
}

.form_add_annonce > div{
    margin-bottom: 30px;
}
.form_add_annonce > input{
    margin-bottom: 30px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.input_container {
    width: 100%;
}
.file_contaienr {
    width: 180px;
}