p, h1, h2, figure, .main_container {
    margin: 0;
}

.main_container {
    display: flex;
    justify-content: center;
}

.info {
    max-width: 1000px;
    width: 100%;
    margin-top: 30px;
}

.container_image {
    display: flex;
    justify-content: center;
    width: 100%;
}

figure {
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.date {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 300;
}

h2 {
    padding-top: 20px;
}

.description {
    padding-top: 10px;
    font-weight: 300;
}