body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #1f1f1f;
}

main {
    margin-top: 80px;
    overflow-x: hidden;
}

.main_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.jf_banner {
    min-height: 1700px;
    width: 100%;
    background-size: contain;
    position: relative;
}
.jf_banner a {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.main_container {
    position: relative;
    padding: 0 15px;
    background: white;
    width: 1000px;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-underline: none;
    color: #1f1f1f;
    text-decoration: none;
}

header {
    top:0;
    color: #1f1f1f;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100vw;
    z-index: 100;
    height: 60px;
    background: white;
    box-shadow: 0 -7px 13px 0 black;
}

header nav a > img {
    height: 50px;
}

header nav a{
    display: flex;
    justify-content: center;
    align-items: center;
}



header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
}

.header_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.header_over_link {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.header_profile_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    background: #2e3136;
    color: white;
    gap: 30px;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}
.nav_footer {
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.nav_footer a {
    color: white;
    font-size: 12px;
    line-height: 2;
}
footer div {
    font-size: 12px;
}

.input_search {
    position: relative;
    width: 20rem;
    height: 3rem;
}
.input_container {
    position: relative;
    width: 20rem;
    height: 3rem;
    margin-top: 15px;
}
.input_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px black solid;
    border-radius: 15px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
.input_input:hover {
    border-color: #FFD400;
}
.input_input:focus {
    border-color: #FFD400;
}
.input_label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.5rem;
    color: black;
    /*color: #FFD400;*/
    cursor: text;
    transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
    background: none;
}

.input_input:not(:placeholder-shown).input_input:not(:focus) + .input_label {
    top: -.8rem;
    font-size: 0.8rem;
    left: 1.3rem;
    padding: 0 5px;
    border: 2px black solid;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.input_input:hover + .input_label, .input_input:focus + .input_label {
    top: -.8rem;
    font-size: 0.8rem;
    left: 1.3rem;
    padding: 0 5px;
    border: 2px #FFD400 solid;
    background-color: #FFD400;
    border-radius: 5px;
    color: black;
}


.buttonHover {
    background-color: #F5EE9E;
    color: black;
    border: none;
    margin: 10px 5px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
    transition: .5s;
    box-shadow: 6px 6px 0 0 #FFD400;
}

.buttonHover:hover {
    cursor: pointer;
    background-color: #FFD400;
    box-shadow: -6px -6px 0 0 #F5EE9E;
}



.hoverLink:before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.hoverLink:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hoverLink::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0;
    inset: 0 0 0 0;
    background: #FFD400;
    z-index: -1;
    transition: transform .3s ease;
}

.hoverLink {
    position: relative;
    font-size: 18px;
    padding: 5px;
}

.litelhoverLink:after {
    transform: scaleX(0);
    transform-origin: bottom center;
}

.litelhoverLink:hover::after {
    transform: scaleX(1);
}

.litelhoverLink::after {
    content: " ";
    display: block;
    position: absolute;
    inset: 100% 0 0 0;
    background: #FFD400;
    height: 2px;
    transition: transform .3s ease;
}

.litelhoverLink {
    position: relative;
    font-size: 10px;
    padding: 5px;
}
.litelhoverLink:hover {
    color: #FFD400;
}
.linkLitelFont {
    font-size: 10px;
}

.buttonCharge {
    display: flex;
    text-decoration: none;
    color: inherit;
    position: relative;
    background-color: #F5EE9E;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 35px;
}
.buttonCharge:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background-color: #FFD400;
    transform-origin: 0 bottom 0;
    transform: scaleY(0);
    transition: .3s ease-out;
    border-radius: 5px;
}
.buttonCharge:hover::before {
    transform: scaleY(1);
    border-radius: 0;
}
.buttonCharge:hover {
    border-radius: 0;
}

.buttonChargeText {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    transition: .3s ease-out;
    background: none;
    text-decoration: none;
    border: none;
    box-shadow: none;
}

.buttonCharge:hover .buttonChargeText {
    color: #FFF;
}


.message_authentify {
    width: 100%;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    font-size: 12px;
    line-height: 0;
}
