{% extends 'base.html.twig' %}

{% block main %}
    <h1>Hello {{ utilisateur.name }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Tu es admin</h2>
    {% else %}
        <h2>Tu n'est pas admin</h2>
    {% endif %}

{% endblock %}